@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --red: #b3001b;
  --black: #262626;
  --darkblue: #255c99;
  --lightblue: #7ea3cc;
  --aliceblue: #ebf2fa;
  --orange: #ffb563;
  --offwhite: #f4e8c1;
  --yellow: #f3c969;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--aliceblue);
}

header a {
  text-decoration: none;
  cursor: pointer;
}

.sitename a {
  color: var(--darkblue);
  font-family: "Manrope", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -3px;
}

#tools {
  color: var(--black);
  font-family: "Roboto Flex", sans-serif;
  text-transform: uppercase;
  text-align: right;
  padding-bottom: 1rem;
}

#tools a {
  color: var(--black);
}

nav {
  background-color: #1b2325;
  padding: 1rem;
}

nav li a {
  text-decoration: none;
  font-family: "Roboto Flex", sans-serif;
  color: white;
  padding: .5rem;
  display: block;
}

nav li a:hover {
  color: var(--yellow);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav li:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#hero img {
  width: 90%;
  height: auto;
  padding:  0 2rem;
  margin-left: 1.5rem;
}

#overlay {
  background-color: rgb(255, 255, 255, .6);
  color: var(--darkblue);
  position: absolute;
  top: 28%;
  left: 5%;
}

#overlay h3 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  margin: 0;
}

#overlay p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  margin: 0;
}

#overlay span {
  display: block;
  background-color: var(--orange);
  color: var(--black);
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: 0 0 5px;
  margin-top: .5rem;
  padding: .5rem;
  width: 80%;
  text-align: center;
}

h2 {
  font-family: "Aleo", serif;
  font-size: 1.75rem;
  font-weight: 800;
  margin-top: 2rem;
  padding: 2rem;
}

#reviews-section li {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  padding: .5rem;
}

#cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

.upgrade-card {
  text-align: center;
  font-size: 1.5rem;
}

figure {
  margin: 0;
  width: 100%;
  height: 75%;
  background-color: var(--lightblue);
  border: 1px solid var(--darkblue);
  box-shadow: 0 0 2px 2px var(--darkblue);
}

.upgrade-card img {
 width: 40%;
  height: auto;
  padding: .5rem;
}

.upgrade-card a {
  font-family: "Roboto Flex", sans-serif;
  color: var(--darkblue);
}

h1 {
  font-family: "Lora", serif;
  font-size: 2.5rem;
  padding: 2rem;
  margin: 0;
}


footer {
  font-family: "Manrope", sans-serif;
}

/* Classification Styles */

#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  gap: 1.5rem;
  padding: 1.5rem;
}

#inv-display li {
  border: 1.5px solid lightgray;
  border-radius: 15px;
  justify-content: center;
  width: 350px;
  text-align: start;
}

#inv-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.namePrice {
  text-align: center;
  align-self: center;
  padding-bottom: 1rem;
}

#inv-display li > a:first-child {
  display: block;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

#inv-display li hr {
  border: none;
  border-top: 3px solid var(--black);
  width: 100%;
}

#inv-display--price {
  font-size: 1.5rem;
  color: var(--darkblue);
}

/* Vehicle Detail Styles */

#view-image img {
  width: 90%;
  height: auto;
}

#view-details {
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}

#view-details h2 span:not(#view-price__amount) {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: 2rem;
}

/* Login Form Styles */

#login-form, #register-form {
  border: 2px solid var(--darkblue);
  border-radius: 5px;
  background-color: var(--aliceblue);
  padding: 1.5rem;
}

#login-form > label, #register-form > label {
  display: block;
  padding: .5rem;
  font-family: "Aleo", serif;
  font-size: 1.5rem;
}

#login-email--input, #login-password--input, #register-email--input, #register-password--input {
  width: 100%;
  display: block;
  padding: 1rem;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5rem;
  border: 1px solid var(--black);
  border-radius: 5px;
}

#login-form > input, #register-form > input {
  margin-bottom: 1rem;;
}

#no-account, #login-button, #register-button {
  justify-self: center;
  display: block;
  font-size: 1.5rem;
}

#no-account {
  font-family: "Aleo", serif;
}

#login-registration--link > a {
  color: var(--red);
}

#login-button, #register-button {
  margin-top: 1.25rem;
  padding: 1rem 3.5rem;
  border: 1px solid var(--orange);
  border-radius: 30px;
  background-color: var(--offwhite);
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: .6;
  letter-spacing: .2em;
}

/* Register Form Styles */

#register-fname--input, #register-lname--input {
  width: 100%;
  display: block;
  padding: 1rem;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5rem;
  border: 1px solid var(--black);
  border-radius: 5px;
}

#register-email--specs {
  display: block;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
}

#register-button {
  justify-self: left;
}

@media (min-width: 640px) {
  
  body {
    display: flex;
    background-image: url('/images/site/small_check.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    justify-content: center;
  }
  
  #wrapper {
    width: 90%;
    background-color: white;
    border: 10px solid var(--red);
    border-radius: 15px;
    margin: 1rem;
    padding: 1rem;
    min-height: 100vh;
    overflow: auto;
  }

  #overlay {
    top: 30%;
    left: 12%;
  }
  
  #overlay h3 {
    font-size: 2rem;
  }
  
  #overlay p {
    font-size: 1.75rem;
  }
  
  #overlay span {
    font-size: 1.5rem;
    border-radius: 5px;
    margin-top: 1.5rem;
  }

  #reviews-section li {
    font-size: 1.25rem;
    padding: 1rem;
  }

  /* Vehicle Detail Styles */

  #view-description__blurb {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 2rem;

}

}

@media (min-width: 1024px) {

#overlay {
  top: 33%;
  left: 15%;
}

#overlay h3 {
  font-size: 2.25rem;
}

#overlay p {
  font-size: 2rem;
  font-weight: 700;
}

#overlay span {
  font-size: 1.75rem;
  border-radius: 5px;
  margin-top: 2rem;
}

#hero img {
  width: 75%;
  margin-left: 10%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

#hero {
  grid-column: 1/3;
  grid-row: 1/2;
}

#reviews-section {
  grid-column: 2/3;
  grid-row: 2/3;
}

#upgrades-section {
  grid-column: 1/2;
  grid-row: 2/3;
}

/* Vehicle Detail Styles */

#view-image {
  grid-area: 2 / 1 / 3 / 2;
  margin-left: 2.5rem;
}

#view-image img {
  width: 100%;
  height: auto;
}

#view-details {
  grid-area: 2 / 2 / 3 / 3;
  display: block;
  list-style: none;
}

.view-list {
  padding-left: 2rem;
}

.view-list:nth-of-type(odd) {
  background-color: var(--aliceblue);
}

#view-description__blurb {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 2rem;
}

/* Login Form Styles */

#login-form, #register-form {
  grid-area: 2 / 1 / 4 / 2;
  width: 130%;
}

}

@media (min-width: 1440px) {

#wrapper {
  width: 70%;
}

#hero img {
  width: 70%;
}

#overlay {
  top: 30%;
  left: 25%;
}

}

/* Inventory Styles */

#inv-display {
  grid-area: 2 / 1 / 3 / 3;
}

.namePrice h2 a {
  font-size: 2rem;
  color: var(--black);
}

.namePrice span {
  font-size: 2rem;
}