<%# Content Heading %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# Flash Message %>

<%- messages() %>

<%# Errors %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# Classification Form %>

<form class="form" method="post" action="/inv/add-classification">
    <label class="label" for="classification_name">New Classification Name:</label>
      <p class="specs">(may not contain spaces or special characters)</p>
    <input class="input" type="text" name="classification_name" required placeholder="Enter new classification" pattern="[A-Za-z0-9]+">
    <button id="add-button" type="submit">Add Classification</button>
</form>