<%# Content Heading %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# Flash Message %>

<%- messages() %>

<%# Errors %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# Management Links %>

<a id="management-link--addClass" class="management-link" href="/inv/add-classification">Add new classification</a>
<a id="management-link--addInv" class="management-link" href="/inv/add-inventory">Add new inventory</a>